body { 
    background-color: darkblue;
}
h1 { 
    color:ghostwhite;
    margin-left: 20px;
}
h2 {
    color: ghostwhite;
    margin-left: 15px;
}
ul{
list-style-type:none;
margin:0;
padding:0;
}
li a {
    display:block;
    width: 60px;
    background-color: rgb(135, 135, 191);
}

 