body {                                      /*Dit is de achtergrond kleur van mijn site die elke pagina terug zal komen*/
    background-color: rgb(214, 130, 158);      
}
h1 { 
    color:ghostwhite;            /*Dit is de kleur van mijn titel en hoeveel van links de tekst staat.*/
    margin-left: 20px;
}
h2 {
    color: ghostwhite;         /*Dit is een tekstkleur van alle stukjes h2 tekst, geld hetzelfde voor h3 en h4.*/
    margin-left: 15px;
}
h3 {
  font-size:large; 
    color:ghostwhite;     
    margin-left: 15px;
}
h4 { 
Color:ghostwhite;
margin-left: 15px;
width: 30%;
}

ul {                        /*Dit is de kleur van het menu.*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsla(331, 75%, 79%, 0.686);
}

li {
  float: left;       /*Dit hieronder is ook allemaal informatie over het menu*/
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: hsla(331, 75%, 79%, 0.686);
}
  h4.round3 {
    border: 2px solid hsla(331, 75%, 79%, 0.686);
    border-radius: 12px;
    padding: 5px;
    background-color:hsla(331, 75%, 79%, 0.686);
    width: 60%;
  }
  h3.round3 {
    border: 2px solid hsla(331, 75%, 79%, 0.686);
    border-radius: 12px;
    padding: 5px;
    background-color: hsla(331, 75%, 79%, 0.686);
    width: 60%;
  }
  
p {
background-color:hsla(331, 75%, 79%, 0.686);
border:#ffffff 2px;
border-radius:12px;
}

